[Desktop Entry]
Comment[pl]=
Comment=
Exec=./bnm.py
GenericName[pl]=
GenericName=
Icon=./icon.png
MimeType=
Name[pl]=BNM Downloader
Name=BNM Downloader
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
